.navList{
    display: flex;
    list-style: none;
    justify-content: right;
    align-items: center;
    gap: 30%;
    font-size: 1.2vw;
    font-weight:700;
  }
  .logo{
    width: 10%;
    /* height: 10%; */
  }
  .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3vw;
    text-align: center;
  }
  