.contact_form{
    flex-basis: 40%;
}
.top_btn{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 2vw;

}
.contact_img{
    width: 100%;
}
.contact_imgdiv{
    flex-basis: 50%;
}
.form_container{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    margin-top: 10vh;
}