.item{
        width: 18vw;
        margin: auto;
        text-align: left;
        transition: .3s linear;

}
.item:hover{
    transform: scale(1.05);
    transition: .3s linear;
}
#data_img{
    width: 100%;
    border-radius: 20px;
}
.name{
    font-size: 1.2vw;
}
.item_price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    /* border: 2px solid red; */
}
.old_price{
    font-size: 1.6vw;
    font-weight: bold;
    text-decoration: line-through;
}
.new_price{
    font-size: 1.6vw;
    font-weight: bold;
}